<menu>
	{{#empty albums}}
	{{else}}
		<li class="header">Albums</li>
		{{#each albums}}
			<li key="{{dataKey}}">{{a fullTitle link null 'music icon-white'}}</li>
		{{/each}}
	{{/empty}}
	{{#empty playlists}}
	{{else}}
		<li class="header">Playlists</li>
		{{#each playlists}}
			<li key="{{dataKey}}">{{a title link null 'music icon-white'}}</li>
		{{/each}}
	{{/empty}}
</menu>
