<tr>
	<td>
		<span>{{num}}</span>
		<a class="play"><i class="icon-{{#if search}}plus{{else}}play{{/if}}"></i></a>
	</td>
	<td class="title">
		{{#unless album}}
		{{#if artist}}{{artist.name}} - {{/if}}
		{{/unless}}
		{{title}}
		{{#if hd}}
			 <b>HD</b>
		{{/if}}
	</td>
	<td class="time">
		{{#equals provider 3}}
			<a class="replace"><i class="icon-wrench"></i></a>
		{{/equals}}
		{{#unless loved}}
			{{#unless search}}
				<a class="love"><i class="icon-{{#if love}}ok{{else}}heart{{/if}}"></i></a>
			{{/unless}}
		{{/unless}}
		{{#or search album}}
			{{timeFormatted}}
		{{else}}
			<span>{{timeFormatted}}</span>
			<a class="remove"><i class="icon-trash"></i></a>
		{{/or}}
	</td>
</tr>
