<div class="header">
	<h1 key="{{dataKey}}">{{fullTitle}}</h1>
	<hr>
</div>
<div class="half">
	<div class="padding">
		{{#unless dataKey}}
			<form>
				<div class="control-group">
					<label>{{L 'albumArtist'}}</label>
					<div class="controls">
						<input type="text" placeholder="{{L 'albumArtistPrompt'}}..." name="artist" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button class="btn" type="submit">{{L 'search'}}</button>
					</div>
				</div>
			</form>
		{{/unless}}
		<table>
			{{#each songs}}
				{{> song}}
			{{/each}}
		</table>
	</div>
</div>
<div class="half cover">

</div>
