<div class="header">
	<h1>{{name}}</h1>
	<hr>
</div>
<div class="right">
	<div class="image">
		<iframe src="/image.html#{{image}}"></iframe>
	</div>
	<div class="tags">
		{{#each tags}}
			{{a name link}}
		{{/each}}
	</div>
	<p class="bio">{{bio}}</p>
	<ul class="members">
		{{#each members}}
			<li>
				<i class="icon-user"></i> {{name}} 
				{{#or yearfrom yearto}}
				<span>({{yearfrom}}{{#if yearfrom}}{{#if yearto}} - {{/if}}{{/if}}{{yearto}})</span>
				{{/or}}
			</li>
		{{/each}}
	</ul>
</div>
<div class="padding">
	
</div>
