<div class="right">
	<form>
		<label>{{L 'albumArtist'}}</label>
		<div class="controls">
			<input type="text" placeholder="{{L 'albumArtistPrompt'}}..." name="artist" value="{{artist}}" /> 
			<button class="btn" type="submit">{{L 'search'}}</button>
		</div>
	</form>
	<hr>
	<form>
		<label>{{L 'albumTag'}}</label>
		<div class="controls">
			<input type="text" placeholder="{{L 'albumTagPrompt'}}..." name="tag" value="{{tag}}" /> 
			<button class="btn" type="submit">{{L 'search'}}</button>
		</div>
	</form>
</div>
<div class="padding">

</div>
